// backgorundColor
.bg-gradiant {
    background: rgb(0, 69, 185);
    background: linear-gradient(126deg, rgba(0, 69, 185, 1) 0%, rgba(109, 0, 203, 1) 100%);
}

// cardSize
.size {
    &-sm {
        width: 100px;
        height: auto;
    }

    &-md {
        width: 400px;
        height: auto;
    }

    &-lg {
        width: 600px;
        height: auto;
    }
}

// fontSize
.fs {
    &-s {
        font-size: 30px;
    }
}

// margin

.mt{
    &-6{
        margin-top: 7rem !important;
    }
}
